<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">
<div style="text-align:center">

  <h1>
    Welcome to {{ title }}!
  </h1>  
</div>
<body>
  
            <div class="container">
                
                <div class="card bg-light">
                    <article class="card-body mx-auto" style="max-width: 400px;">
                        <h3 class="card-title mt-3 text-center">Welcome to Registration process</h3>
                        <p class="text-center">Register as a employee</p>
                        
                        <form #frm="ngForm" (ngSubmit)="onSubmit(frm.value)">
                        <div class="form-group input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                             </div>
                            <input type="text" name="usrNm" #usrNm="ngModel" [(ngModel)]="usNm" ngModel class="form-control" placeholder="Full name" >
                        </div> <!-- form-group// -->
                        <div class="form-group input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
                             </div>
                            <input name="femail" #femail="ngModel"  [(ngModel)]="fe" ngModel class="form-control" placeholder="Email address" type="email">
                        </div> <!-- form-group// -->
                        <div class="form-group input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"> <i class="fa fa-phone"></i> </span>
                            </div>
                            <input name="phoneNo" #phoneNo="ngModel" [(ngModel)]="pn" ngModel class="form-control" placeholder="Phone number" type="text">
                        </div> <!-- form-group// -->
                        
                        <div class="form-group input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                            </div>
                            <input class="form-control" placeholder="Create password" type="password" name="pass" #pass="ngModel" ngModel>
                        </div> <!-- form-group// --> 
                        <input type="hidden" class="form-control" name="_id" #id="ngModel" ngModel [(ngModel)]="id1">                                   
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary btn-block"> Create Account  </button>
                        </div> <!-- form-group// -->  
                        <button  type="button" (click)="updateEmp(usrNm.value,femail.value,phoneNo.value,pass.value, id.value)" name="update" class="btn btn-primary">Update</button>
                        <h3>{{resMsg}}</h3>                                                              
                    </form>
                    </article>
                    </div> <!-- card.// -->
                
            </div>
        </body>

        <div class="form-group">
                <h3>{{resmsg}}</h3>
        </div>


        <div class="col-md-12">
                <div class="table-responsive">
                  <table class="table table-striped table-bordered">
                    <tr class="table-danger">
                     <th>Sr.No</th> 
                      <th>Name</th>
                      <th>Email</th>
                      <th>Phone Number</th>
                      <th>Action</th>

            
                    </tr>
                    <tr *ngFor="let regs of regs ;let i=index">
                        <td>{{i+1}}</td>
                        <td>{{regs.usrNm}}</td>
                        <td>{{regs.femail}}</td>
                        <td>{{regs.phoneNo}}</td>
                        <td>
                            <input type="button" value="Select"  (click)="onSelect(regs._id)">
                            <button type="button" (click)="onDelete(regs._id)" class="btn btn-warning">Delete</button>
                        </td>
                    </tr>
            
                  </table>
                </div>
              </div>